<%- include("header") -%>
<div>
  <h1>My dictionary</h1>
</div>
<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->

<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
<table class="GeneratedTable">
  <thead>
    <tr>
      <th class="th_order">O/n</th>
      <th class="th_phrase">Phrase</th>
      <th class="th_point">Points</th>
      <th class="th_meaning">Meaning</th>
      <th class="th_option">Option</th>
    </tr>
  </thead>
  <tbody>
        <% dictions.forEach(function(item, index){ %>
    <tr>
      <td class="td_order"><% if (page > 1){ %> <%= ((page-1)*50) + (index + 1) %> <% } else{ %>
        <%= index + 1 %> <% } %>
      </td>
      <td><%= item.phrase %></td>
      <td class="td_point <%= item.reputation>0 ? 'positive' : 'negative' %>"><%= item.reputation %></td>
      <td><%= item.meaning %></td>
      <td class="td_option">
        <form action="/<%= item._id %>/delete" method="DELETE">
          <input type="submit" value="Delete" class="btn" />
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<div>
  <% for( let ind = 0; ind < (Amount / 50); ind++ ) { %>
  <a href="/dictionary/?page=<%= ind+1 %>"><%= ind+1 %></a> %> <% } %>
</div>
<%- include("footer") -%>
