<%- include("header") -%>
<div>
    <h1>My dictionary</h1>
</div>
<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
    
    <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th class="th_order">O/n</th>
          <th class="th_phrase">Phrase</th>
          <th class="th_point">Points</th>
          <th class="th_meaning">Meaning</th>
          <th class="th_option">Option</th>
        </tr>
      </thead>
      <tbody>
          <% dictions.forEach(function(item, index){ %>
            <tr>
                <td class="td_order"><%= index + 1 %></td>
                <td><%= item.phrase %></td>
                <td class="td_point"><%= item.reputation %></td>
                <td><%= item.meaning %></td>
                <td class="td_option">
                  <form action="/<%= item._id %>/delete" method ="DELETE">
                    <input type="submit" value ="Delete" class="btn">
                  </form>
                </td>
            </tr>
          <%  }) %>
      </tbody>
    </table>

   
    
<%- include("footer") -%> 