<%- include("header") -%>

<div>
  <h1> Well done Nurbek ! </h1>
</div>

<div class="box" id="heading">
  <h2>Your results: <%= sumOfAns.length %> / 10</h2>
</div>
<% result.forEach(function(item, index){ %>
    <div> <%= index + 1 %>)<%= item.phrase %>  </div>
    <div> <%= item.selected %> </div>
    <div class="ans_<%= item.answer %>"> Choosed answer is <%= item.answer %> </div>
    <% })%>
<%- include("footer") -%>
