<%- include("header") -%>

<div>
  <h1>Well done Komiljon !</h1>
</div>

<div class="box" id="heading">
  <h2>Your results: <%= sumOfAns.length %> / 10</h2>
</div>
<div class="results">
  <% result.forEach(function(item, index){ %>
  <div class="result-info">
    <p><%= index + 1 %>) <%= item.phrase %></p>
    <p><%= item.selected %></p>
    <p class="ans_<%= item.answer %>">Choosed answer is <%= item.answer %></p>
  </div>
  <% })%>
</div>

<%- include("footer") -%>
