<%- include("header") -%>
<div>
    <h1>Test room. Process <%= progress %>/10</h1>
</div>
<div class="box" id="heading">
    <h2><%= randomQuest %></h1>
</div>
<div class="answerBlock">
    <% results.forEach(function(item){  %>
        <form action="/test" method="POST">
        <button class="answer" type="submit" name="button" value="<%= item.meaning %>"><%= item.meaning %></button>
        </form>
    <% })  %>
</div>
<%- include("footer") -%> 