<%- include("header") -%>
<div>
    <h1>Test room. Process <%= progress %>/10</h1>
</div>
<div class="box" id="question">
    <h2><%= randomQuest %> <span class="quest 
        <%= reputation>0 ? 'positive' : 'negative' %> ">(<%= reputation %> )</span></h2>
</div>
<div class="answerBlock">
    <% results.forEach(function(item){  %>
        <form action="/test" method="POST">
        <button class="answer" type="submit" name="button" value="<%= item.meaning %>"><%= item.meaning %></button>
        </form>
    <% })  %>
</div>
<%- include("footer") -%> 